header{	background-color: #C1A78E;
	padding: 40px
	text-align: center;}

h1{ font-size: 48px;
	color: #D6D5D0
	text-align: center;}

header img{}

/*<header>
			<img src="tea.jpg">
			<h1>It's always tea time somewhere!</h1>
		</header>*/

/*#6C0327/*